.content_all_element {
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #2a3335;
  padding: 1px 20px;
  border-radius: 10px;
}

.content__stars__span {
  display: flex;
  align-items: center;
  gap: 25px;
}

.content__stars {
  display: flex;
  gap: 1px;
}

.content__stars p {
  font-size: 44px;
  /* align-items: center; */
}

.number__rating {
  font-size: 35px;
  color: #fbbd17;
  font-weight: bold;
}

button {
  width: 80%;
  border: none;
  background-color: #5c3ccf;
  color: #fff;
  padding: .5rem .2rem;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
